.box {
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: right 50px;   /*pode ser: right 50px, top 50px, top left, bottom right, center, etc.*/
    }